*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Mooli', sans-serif;
	font-size: 1.6rem;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: #333;
}

.container {
	display: block;
	position: relative;
	width: 53rem;
	height: 68rem;
	background-image: url('../img/puppy-2785074_1280.jpeg');
	background-position: center;
	border-radius: 1rem;
	overflow: hidden;

	&__bg_shadow {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 0;
	}
}

.menu {
	position: relative;
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 4rem 7rem;
	z-index: 1;

	h2 {
		display: inline;
		padding: 2rem;
		padding-bottom: 3px;
		font-size: 20px;
		font-weight: 600;
		border-bottom: 3px solid #1161ee;
	}

	.active h2 {
		border-bottom: 0 solid #1161ee;
		color: #aeaeae;
		transition: color 0.5s ease-in;
	}

	&__btn-login:not(.active),
	&__btn-register:not(.active) {
		cursor: inherit;
	}

	a {
		text-decoration: inherit;
		color: inherit;
	}

	a:hover {
		text-decoration: inherit;
	}
}

.form_text {
	display: block;
	margin-top: 1.2rem;
	padding: 0.5rem 1rem 1rem 8.5rem;
	font-size: 1.5rem;
	font-weight: 600;
	color: #fff;
}

.login {
	position: absolute;
	left: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 60%;
	width: 100%;
	transition: all 0.7s;
	z-index: 1;
	&__form {
		width: 100%;

		&__line {
			width: 80%;
			height: 0.1rem;
			background-color: #fff;
		}
	}

	h4 {
		margin-bottom: 0;
		text-align: center;
		color: #ffffff;
		opacity: 0.3;
	}

	h4:hover {
		opacity: 0.8;
		transition: all 0.1s ease-in;
	}
}

.register {
	position: absolute;
	width: 100%;
	transition: all 0.7s;
	right: 0;

	&_form {
		width: 100%;
	}
}

.active-section {
	position: absolute;
	right: -100%;
}
.remove-section {
	position: absolute;
	left: -100%;
}

input {
	display: block;
	margin: auto;
	padding: 1.3rem;
	width: 38rem;
	font-family: 'Roboto', sans-serif;
	border: 0;
	border-radius: 2rem;
	opacity: 0.65;
}

.submit {
	width: 25rem;
	padding: 1rem;
	color: #fff;
	background-color: #287bff;
	border: 0.1rem #1161ee;
	font-size: 1.8rem;
	font-weight: 700;
	cursor: pointer;
	opacity: 1;
}

.check {
	display: flex;
	margin: 1rem 0 1rem 8.5rem;

	h3 {
		padding: 1rem 0;
		font-size: 17px;
		font-weight: 600;
	}
}

.checkbox {
	display: none;
	padding: 1rem;

	&_box {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.7rem;
	}
}

.checkbox:checked + svg .path-moving {
	transition: stroke 0.4s, stroke-dasharray 0.4s,
		stroke-dashoffset 0.4s cubic-bezier(0.3, 0.8, 0.6, 1.5);
	stroke-dasharray: 25 90;
	stroke-dashoffset: 0;
}

.path-moving,
.path-back {
	fill: none;
	stroke: #1161ee;
	stroke-width: 3px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.path-moving {
	transition: stroke 0.4s, stroke-dasharray 0.4s, stroke-dashoffset 0.4s;
	stroke: #ffffff;
	stroke-dasharray: 110;
	stroke-dashoffset: -32;
}
