*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Mooli", sans-serif;
	font-size: 1.6rem;
}

.nav-items {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	background-color: #055c22;
	height: 100vh;
	width: 15rem;
	z-index: 100;

	.nav-item {
		font-weight: bold;
		font-size: 2rem;
		text-transform: uppercase;
		text-decoration: none;
		color: #d5dddf;
        text-shadow:2px 1px black;
        transition: transform 500ms;
        &:hover {
            color: #ffffff;
            transform: scale(1.1);
        }
	}

	i {
		padding: 10px;
	}
}

.footer {
	padding: 2em 1em;
	background-color: #055c22;
	color: #d5dddf;
	text-shadow:2px 1px black;
	text-align: center;
	font-weight: bold;
}